/* if using modals .content-cover.cover {
    display: block;
    background-color: black;
    opacity: 0.4;
}
*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    margin: 0;
    padding: 0;
}
.content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url('constant-loubier-eWuc6TXc8Ok-unsplash.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.header {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    padding: 0.75rem 0.75rem 0rem;
    text-align: center;
    background-color: black;
    color: rgb(243, 201, 146);
}
.nav-container{
    background-color: black;
}
nav {
    max-width: 480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    margin: 0 auto;
    padding: 1rem;
}
.about-button {
    display:block;
    width: 32px;
    min-height: 32px;
    background-color: rgb(177, 177, 177);
    background-image: url("info-solid.svg");
    background-size: 25%;
    background-position: center 25%;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 50%;
}
.about-button:hover {
    background-color: white;
    box-shadow: 0 0 8px 4px rgb(165, 80, 23);
}
nav>.search-container {
    flex: 1;
}
.search-button {
    color: white;
    width:  200px;
    min-height: 25px;
    border: none;
    border-radius: 20px;
    box-shadow: inset 2px 2px 6px rgb(85, 84, 84);
    margin: auto;
    position: relative;
}
.search-button::after {
    position: absolute;
    width: 15px;
    height: 15px;
    content: '';
    left: 8px;
    top: 5px;
    background-image: url("search.svg");
}
.search-button:hover{
    box-shadow: 0 0 8px 4px rgb(165, 80, 23);
}
.menu-button-container{
    z-index: 999;
}
.menu-button{
    width: 32px;
    min-height: 32px;
    background-color: rgb(177, 177, 177);
    background-image: url("bars-solid.svg");
    background-size: 70%;
    background-position: center 25%;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 5px;
}
.menu-button:hover {
    background-color: white;
    box-shadow: 0 0 8px 4px rgb(165, 80, 23);
}
.menu-button.menu-open{
    background-image: url("xmark-solid.svg");
}
.search-modal {
    max-width: 600px;
    min-height: 300px;
    position: absolute;
    top: 55px;;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(252, 244, 230);
    border: 2px solid rgb(37, 39, 48);
    border-radius: 30px;
    padding: 1rem;
    font-size: 18px;
    z-index: 1000;
    overflow: hidden;
    display: none;
}
.search-modal.search-modal-open{
    display: block;
    animation: 300ms 1 expandModal;
}
@keyframes expandModal {
    0%{
        opacity: 0;
        height: 20px;
        max-width: 200px;
    }
    55%{
        opacity: 1;
        height: 20px;
        max-width: 600px;
    }
    60% {
        height: 20px;
    }
    100%{
        height: 60vh;
    }
}
.search-modal>h2 {
    padding: 0.25rem;
    text-align: center;
    color: black;
    font-size: 24px;
    white-space: nowrap;
}
.location-container{
    display:flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    justify-content: flex-start;
    align-items: center;
}
.location-container>div{
    padding: 1rem;
    display: flex;
}
.location-container label{
    margin-right: 0.5rem;
}
.location-container input[type='text'], .location-container select{
    background-color: rgb(232, 240, 254);
    border: 1px solid rgb(255, 159, 95);
    border-radius: 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.location-container input[type='text']{
    max-width: 150px;
}
.button-container{
    display:flex;
    margin: 2rem auto;
    justify-content: space-around;
    align-items: center;
}
.submit-button {
    padding: 8px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(66, 66, 66);
    font-size: 16px;
    color: white;
    background-color: rgb(1, 66, 1);
}
.cancel-button {
    padding: 8px;
    min-width: 100px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(66, 66, 66);
    font-size: 16px;
    color: white;
    background-color: rgb(94, 3, 3);
}
.submit-button:hover, .cancel-button:hover {
    opacity:0.7;
    box-shadow: 0 0 8px 4px rgb(165, 80, 23);
}
.error-display {
    position: absolute;
    top: 180px;
    left: 50%;
    text-align: center;
    font-size: 20px;
    min-width: 250px;
    margin: 0 auto;
    color: rgb(207, 207, 207);
    text-shadow: 2px 2px 2px black;
    line-height: 1.25;
    transform: translateX(-50%);
}
.main {
    position: relative;
    display: none;
    grid-template: 1fr 1fr 1fr 1fr/ 60% 1fr;
    grid-template-areas:
        "temp graphic"
        "temp details"
        "temp humidity"
        "temp wind"
    ;
    gap: 1rem;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 800px;
    color: white;
}
.menu {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100vw;
    transform: translateX(100%);
    height: calc(100vh - 50px);
    padding-top: 40px;
    overflow: hidden;
    background-color: black;
    color: white;
    z-index:99;
    transition: all 500ms ease-out;
    font-size: 22px;
}
.menu.menu-open{
    transform: translateX(0);
}
.menu-form {
    margin: 0.5rem auto;
    max-width: 250px;
}
.menu h1{
    padding: 0.5rem;
    margin: 0 0 1rem;
    max-width: 250px;
    border-radius: 10px;
    color: rgb(243, 201, 146);
    font-size: inherit;
    background-color: hsl(0, 0%, 23%);
    opacity: 0.6;
}
.radio-container {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:white;
    max-width: 250px;
    font-size: 18px;
}
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left:15px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}
.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.radio-container input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.radio-container input:checked ~ .checkmark:after {
    display: block;
}
.radio-container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.menu a {
    color: rgb(243, 201, 146);
    text-decoration: none;
    display: block;
    font-size: inherit;
    padding: 0.5rem;
    margin: 1rem auto;
    background-color: hsl(0, 0%, 23%);
    opacity: 0.6;
    border-radius: 10px;
    max-width: 250px;
    text-align: center;
    transition: all 200ms;
}

.temperature-container{
    min-width: 180px;
    aspect-ratio: 1;
    grid-area: temp;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    backdrop-filter: opacity(0.7);
    box-shadow: 5px 5px 10px 0px rgb(44, 44, 44);
}
.temperature {
    font-size: 36px;
    margin-bottom: 1rem;
    filter: drop-shadow(1px 1px 2px #000);
}
.lohi {
    padding: 5px;;
    font-size: 12px;
    filter: drop-shadow(1px 1px 2px #000);
}
.graphic {
    margin-left: -12px;
    margin-right: 12px;
    border-radius: 999px;
    background-color: hsl(0, 0%, 0%, 0.5);
    box-shadow: 5px 5px 10px 0px rgb(44, 44, 44);
    grid-area: graphic;
    display: flex;
    align-items: center;
}
#graphic-icon {
    width: 30px;
    min-height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.thunderstorm {
    background-image: url('cloud-bolt-solid.svg');
}
.raining {
    background-image: url('cloud-showers-heavy-solid.svg');
}
.snow{
    background-image: url('snowflake-regular.svg');
}
.atmosphere {
    background-image: url('cloud-solid.svg');
}
.clouds {
    background-image: url('cloud-solid.svg');
}
.clear {
    background-image: url('sun-solid.svg');
}

.graphic-Desc {
    font-size: 12px;
    filter: drop-shadow(1px 1px 2px #000);
}
.details{
    margin-left: 10px;
    text-align: center;
    padding-top: 8px;
    border-radius: 999px;
    background-color: hsl(216, 42%, 52%, 0.8);
    box-shadow: 5px 5px 10px 0px rgb(44, 44, 44);
    grid-area: details;
    font-size: clamp(6px, 12px, 14px);
    color: rgb(216, 216, 216);
    filter: drop-shadow(1px 1px 2px #000);
    overflow: hidden;
}
.humidity {
    margin-left: 10px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 999px;
    background-color: hsl(192, 55%, 70%, 0.8);
    box-shadow: 5px 5px 10px 0px rgb(44, 44, 44);
    grid-area: humidity;
    font-size: 11px;
    color: rgb(27, 27, 27);
    position: relative;
}
.humidity::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -4px;
    width: 30px;
    min-height: 30px;
    background-image: url('drop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}
.wind {
    padding: 5px;;
    margin-left: -12px;
    margin-right: 12px;
    border-radius: 999px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 5px 5px 10px 0px rgb(44, 44, 44);
    grid-area: wind;
    display: flex;
    align-items: center;

}
.wind-arrow {
    width: 20px;
    height: 20px;
    background-color: hsl(0, 0%, 100%, 0.4);
    background-image: url('location-arrow-solid.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 1px solid rgb(80, 80, 80);
    margin-right: 4px;
}
.wind-desc {
    font-size: 12px;
    color: rgb(43, 43, 43);
}
.location-date {
    margin: 0 auto;
    text-align: center;
    color: rgb(196, 196, 196);
    text-shadow: 1px 1px 2px black;
}
.location-date>*{
    padding: 0.25rem;
    margin: 0;
}
footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 1.5rem;
    text-align: center;
}
footer>a {
    display: block;
    margin: 0 auto;
    color: rgb(255, 241, 180);
    text-decoration: none;
    transition: 200ms all;
}
footer>a:hover {
    color: white;
    transform: scale(1.125);
}

@media (min-width: 480px) {
    .menu-button-container{
        display: none;
    }
    nav {
        flex-wrap: wrap;
        gap: 0.5rem;
    }
    .search-button {
        width:  360px;
        margin: auto 32px auto auto;
    }
    .menu {
        padding-top: 0;
        position: relative;
        top: auto;
        left: auto;
        width: 100vw;
        height: auto;
        transform: translateX(0);
        display: flex;
        font-size: 14px;
    }
    body .menu-form {
        margin:0;
    }
    body .menu .label-container {
        position: absolute;
        top: 5px;
        left: -15px;
        height: 0;
        font-size: 12px;
        z-index: 10;
        overflow: hidden;
        transition: all 200ms;
    }
    body .menu-form:hover .label-container {
        height: 70px;
        padding: 0.5rem;
        background: rgb(20 20 20);
        border-radius: 5px; 
    }
    body .menu h1 {
        background-color: black;
        margin: 0.5rem auto;
        flex:1;
        border-radius:0;
        position: relative;
    }
    body .menu a {
        background-color: black;
        margin: 0.5rem auto;
        border-radius: 0;
        flex: 1;
    }
    body .menu a:hover {
        background-color: rgb(49, 49, 49);
    }
    body .radio-container {
        font-size: 11px;
    }
    body .checkmark{
        height: 12px;
        width: 12px;
    }
    body .checkmark:after{
        top: 3px;
        left: 3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: white;
    }
}


